[submodule "nyc22django"]
	path = nyc22django
	url = https://github.com/dcartist/nyc22django
[submodule "nyc22react"]
	path = nyc22react
	url = https://github.com/dcartist/nyc22react
[submodule "nyc22api"]
	path = nyc22api
	url = https://github.com/dcartist/nyc22api
[submodule "nyc22images"]
	path = nyc22images
	url = https://github.com/dcartist/nyc22images
